<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
-->
<html>
	<head>
		<title>Spending Tracker</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<style>
		<%- include("../../public/landingPage/assets/css/main.css"); %>
	</style>
	<noscript>
		<style>
			<%- include("../../public/landingPage/assets/css/noscript.css"); %>
		</style>
	</noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo"></div>
						<div class="content">
							<div class="inner">
								<h1>Spending Tracker</h1>
								<p> Utility app to keep track of day to day spending. Made by <a href="https://volkerling.com">Ariki</a></p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="<%- landingPageRedirectToHomepage %> ">Login</a></li>
								<li><a href="#about">About</a></li>
								<li><a href="#tech">Tech</a></li>
								<li><a href="#contact">Contact</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Work -->
							<article id="about">
								<h2 class="major">About</h2>
								<span class="image main"><img loading=lazy src="https://source.unsplash.com/featured/960x320/?kiwi" alt="random placeholder photo from unsplash" /></span>
								<p>I have recently started working, and want to keep an eye on how much I am spending for both
								weekly (grocery) and ad-hoc (work lunches, lollies).
								A peice of paper is pretty effective for this, but there are some drawbacks overtime. 
								Seemed like an ideal time to make a little web-tool to track it and give me some summaries of it.</p>
								<br>
								<p>There are three things that I want to know how much I have been spening on: Groceries, Lunches During work, and other random spending.</p>
								<p>This little tool was build so that I am able to do so, and learn some web development in the process.</p>
							</article>

						<!-- About -->
							<article id="tech">
								<h2 class="major">Tech</h2>
								<span class="image main"><img loading=lazy src="https://source.unsplash.com/featured/960x320/?technology" alt="random placeholder photo from unsplash" /></span>
								<p>Build with a nodeJS Express "server" a mongodb database and serving static pages with server side rendering.</p>
								<p>Authentication is handled by Auth0, and using express to handle the requests.</p>
								<p>Visualisations are made with chartJS.</p>
								<p>All development has been done on github and can be accessed on <a href="https://github.com/point-contents/groceryTracker"> Github </a></p>
							</article>

						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Contact</h2>
								<span class="image main"><img loading=lazy src="https://source.unsplash.com/featured/960x320/?nature,water" alt="random placeholder photo from unsplash" /></span>
								<ul>
									<li><a href="https://volkerling.com"><span class="label"><strong>Personal Piece of the Internet</strong></span></a></li>
									<li><a href="https://github.com/point-contents"><span class="label"><strong>GitHub</strong></span></a></li>
								</ul>
							</article>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script>
				<%- include("../../public/landingPage/assets/js/jquery.min.js"); %>
			</script>
			<script>
				<%- include("../../public/landingPage/assets/js/browser.min.js"); %>
			</script>
			<script>
				<%- include("../../public/landingPage/assets/js/breakpoints.min.js"); %>
			</script>
			<script>
				<%- include("../../public/landingPage/assets/js/util.js"); %>
			</script>
			<script>
				<%- include("../../public/landingPage/assets/js/main.js"); %>
			</script>
	</body>
</html>
