<html>
<head>
<title>Tracker</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" charset="utf-8">
</head>
<body id="container">
	<%- include("../partials/header.ejs"); %>
	<div> 
		Logout / Home Button
	</div>
	<div class="inputArea">
		<form action="/<%- formPostAction %>" method="POST">
			<input type = "number" id="formAmountValue" name = "value" max = "<%- maxValue %>" min = "<%- minValue %>" placeholder="Amount" required autofocus/>
			<button type="submit" id="myButton">Submit</button>
		</form>
	</div>
	<div class="grapher">
		<form action="/<%- graphPostAction %>">
			<input type="submit" value="Graph"/>
		</form>
	</div>
</body>
<style>
<%- include("../../public/style.css"); %>
</style>
</main>
</html>

